body {
    height: 100%;
    background-color: black;
}

#jumbo {
    margin-top: 100px;
    background-image: url(/images/japanstreet.jpg);
    background-size: 100%;
}

#jumbo1 {
    color: grey;
}
