body {
    height: 100%;
    background-color: black;
}

#jumbo {
    margin-top: 5px;
    background-image: url(images/japanstreet.jpg);
    background-size: 100%;
    text-shadow: 2px 2px black;
}

#jumbo1 {
    color: whitesmoke;
}
